.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
  width: 100%;
  /* max-width: 1500px; */
  margin: 0 auto;
  z-index: 2000;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
  gap: 20px;    
}

/* LOGO + TAGLINE */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  height: 85px;
  width: auto;
  cursor: pointer;
}

.logo-tagline {
  margin-top: 6px;
  font-size: 13px;
  color: #424242;
  line-height: 1.4;
  font-weight: 600;
  white-space: nowrap;
}


.navbar {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.3s ease;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #bbbfdf;
}

/* HIGHLIGHT BUTTON */
.navbar .highlight {
  background: linear-gradient(135deg, #f5af19, #f12711);
  color: #fff !important;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 8px 25px rgba(241, 39, 17, 0.35);
  transition: all 0.4s ease;
}

.navbar .highlight:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 12px 35px rgba(241, 39, 17, 0.45);
}

/* DROPDOWN MENU */
.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background: #fff;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  min-width: 180px;
  z-index: 3000;
}

.dropdown-menu a {
  padding: 10px 20px;
  color: #333;
  font-weight: 500;
}

.dropdown-menu a:hover {
  background: #2e3ca9;
  color: #fff;
  border-radius: 6px;
}


.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background: #333;
  transition: 0.3s;
}

.bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media (max-width: 1024px) {
  .navbar {
    gap: 15px;
    font-size: 0.95rem;
  }
}
@media (max-width: 900px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  /* Hamburger icon */
  .hamburger {
    display: flex;
    margin-right: auto;
  }


  .navbar {
    position: fixed;
    top: 0;
   left: -100%;        
    height: 100vh;
    width: 70%;
    background: white;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    transition: right 0.4s ease;  
    z-index: 3000;
  }

  /* When menu is open */
  .navbar.open {
    left: 0;  
  }

  .navbar a {
    padding: 18px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 1rem;
  }

  .navbar .highlight {
    margin: 15px auto;
    width: 80%;
  }
}
